.form-user {
    align-items: center;
    display: flex;
    height: 74vh;
    justify-content: center;
    flex-direction: column;
}

.form-label {
    width: 100%;
    display: flex;
    justify-content: left;
}

.error-message {
    color: red;
    margin-top: 15px;
}
